# Data files
data/*
!data/iscreen
!data/actint
!data/data
!data/resource/actint/hd

# CMake files
CMakeFiles/
cmake_install.cmake
Makefile
CMakeCache.txt

# Generated binaries
*.a
lib/utils/zip_convert
data/iscreen/temp.scr

# TODO: VC stuff, windows binaries
build
.fuse_hidden*
.vscode/
*.code-workspace

# VS cmake
.vs/
[Oo]ut/
CMakeSettings.json

# compile stuff
/ffmpeg
/build
/clunk
/vangers
/artifacts-flatpak
/flatpak-build
/flatpak-repo
/packaging/flatpak/flatpak-payload

# vss
scripting/yarn-error.log
scripting/node_modules
scripting/build
# Server env file
.env

.idea/
cmake-build-debug/

res_linux
cmake-build-*

vangers.data
vangers.mjs
vangers.wasm


res_gen
emscripten
game-data-*.zip
.tmp
